<div id = "div_success">

    <p id = "id_location">Weather at {{location}}</p>

    <p id = "id_temperature">Temperature : {{temperature}}</p>

    <p id = "id_precipitation">Precipitation Probability : {{precipProbability}}</p>

</div>

<div id = "div_failure">

    <p id = "id_error">{{error}}</p>

</div>

