<div id = "div_success">

    <h2 id = "id_location">Weather at {{location}}</h2>

    <h2 id = "id_temperature">Temperature : {{temperature}}</h2>

    <h2 id = "id_precipitation">Precipitation Probability : {{precipProbability}}</h2>

</div>

<div id = "div_failure">

    <h2 id = "id_error">{{error}}</h2>

</div>

